<launch>
    <arg name="state" default="localization"/>
    <arg name="public_sim"   default="true"/>

    <arg name="robot"  default="steel"/>
    <arg name="arm"  default="$(eval {'iron': False}.get(arg('robot'), True))"/>
    <arg name="end_effector"  default="$(eval {'iron': 'false', 'steel': 'pal-gripper', 'titanium': 'pal-hey5'}.get(arg('robot'), 'pal-gripper'))"/>
    <arg name="ft_sensor"  default="$(eval {'titanium': 'schunk-ft'}.get(arg('robot'), 'false'))"/>
    <arg name="laser_model"  default="sick-571"/>
    <arg name="camera_model"  default="orbbec-astra"/>

    <arg name="world"  default="small_office"/>
    <arg name="tuck_arm"  default="true"/>
    <arg name="lost" default="true"/>
    <arg name="gzpose" default="-x 4.0 -y -3.0 -z 0.0 -R 0.0 -P 0.0 -Y 3.1415" unless="$(arg lost)"/>
    <arg name="gzpose" default="-x 4.0 -y -3.0 -z 0.0 -R 0.0 -P 0.0 -Y 3.1415" if="$(arg lost)"/>

    <arg name="planner"        default="base"/>
    <arg name="global_planner" default="global_planner"/>
    <arg name="local_planner"  default="$(eval 'teb' if arg('public_sim') else 'pal')"/>
    <arg name="localization"   default="amcl"/>

    <!-- This is where the map is saved -->
    <arg name="map"            default="$(find uniwa_nav_stack)/maps"/>
    <arg name="rviz"     default="true"/>
    <arg name="gzclient" default="true"/>
    <arg name="recording" default="false"/>
    <arg name="extra_gazebo_args" default=""/>

    <arg name="advanced_navigation"   default="false"/> <!-- Requires extra software from PAL Robotics-->

    <arg name="sim_sufix" value="_public_sim"     if="$(arg public_sim)"/>
    <arg name="sim_sufix" value=""                unless="$(arg public_sim)"/>

    <env name="PAL_HOST" value="tiago" />

    <!-- <include file="$(find uniwa_nav_stack)/launch/tiago_ep1_navigation.launch" /> -->
    <arg name="ros_ep1_navigation" value="true"/>
    <group if="$(arg ros_ep1_navigation)">
        <include file="$(find uniwa_nav_stack)/launch/tiago_ep1_navigation.launch">
        <arg name="public_sim" value="true"/>
        <arg name="robot" value="steel"/>
        <arg name="lost" value="true"/>
        </include>
    </group>


    <arg name="namespace" default="/"/>
    <group ns="$(arg namespace)">
        <include file="$(find sciroc_ep1_object_manager)/launch/tiago_ep1.launch">
        <arg name="world"      value="$(arg world)"/>
        <arg name="arm" value="$(arg arm)"/>
        <arg name="end_effector" value="$(arg end_effector)"/>
        <arg name="ft_sensor" value="$(arg ft_sensor)"/>
        <arg name="laser_model" value="$(arg laser_model)"/>
        <arg name="camera_model" value="$(arg camera_model)"/>
        <arg name="gzpose"     value="$(arg gzpose)"/>
        <arg name="tuck_arm"   value="$(arg tuck_arm)"/>
        <arg name="gui"        value="$(arg gzclient)"/>
        <arg name="public_sim" value="$(arg public_sim)"/>
        <arg name="recording"  value="$(arg recording)"/>
        <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
        <arg if="$(eval local_planner == 'teb')" name="use_dynamic_footprint" value="true"/>
        </include>

    </group>


    <!-- <include file="$(find waitbot)/launch/waitbot.launch"/> -->
    <include file="$(find ros_yolov5)/launch/ros_yolov5.launch"/>
    <!-- <node name="alternative_SM" pkg="uniwa_nav_stack" type="alternative_SM.py" respawn="false" output="screen" /> -->
</launch>